<h1 class="d-flex justify-content-center"><%= image_tag "kiez-logo-text.svg", alt: "KIEZ logo", width: 150 %></h1>
<h1 class="d-flex justify-content-center"> Inbox </h1>


<% @conversations.each do |conversation| %>
    <% if conversation.other_users(current_user).empty? %>
      <%= nil %>
    <% else %>
      <h2> <%= link_to conversation.other_users(current_user)[0].first_name, conversation_path(conversation) %> </h2>
    <% end  %>
<% end %>
