
  <h1> Your Building </h1>

<h1>this is the index building</h1>

  <div class="container bg-card text-center mt-5">
    <ul>
      <% posts.each do |post| %>
        <li><%= link_to post.title, post_path(post) %></li>
        <li><%= post.content %></li>
      <% end %>
    </ul>
  </div>
