<h1>this is the index building</h1>

  <div class="container bg-card text-center mt-5">
    <ul>
      <% posts.each do |post| %>
        <li><%= post.title %></li>
        <li><%= post.content %></li>
      <% end %>
    </ul>
  </div>
