<div class="mapboxgl-popup">
  <%= link_to post_path(post) do  %>
  <p class="mapboxgl-popup-content">
    <%= post.title %>
    <i class="fa-solid fa-arrow-right-long ml-1"></i>
  </p>
  <% end %>
</div>
