

<div class="container bg-card text-center mt-5">

  <h2><%= post.title %></h2>
  <p><%= post.content %></p>

  <% if post.user == current_user %>
  <div class="btn btn-success"><%= link_to "edit post", edit_post_path(post) %></div>
  <% end %>


</div>
