
.cherry-back {
display: flex;
flex-direction: row;
word-wrap: break-word;
align-items: center;
padding: px 8px 4px;
gap: 8px;
white-space: nowrap;

position: relative;
height: 35px;

background: $light-cherry;
border-radius: 46px;
line-height: 15px;
}

.cherry-big {

word-wrap: break-word;
align-items: center;
gap: 8px;
white-space: nowrap;
position: relative;
background: $cherry;
border-radius: 46px;
line-height: 15px;

}


.red-round {
display: flex;
align-items: center;
padding: 9px 9px 9px;
background: $light-cherry;
border-radius: 46px;
line-height: 15px;
  .h1, .h2, .h3, .h4, .h5, .p, {
    color: $black;
  }
}

.show-red-round {
  align-items: center;
  padding: 9px 9px 9px;
  background: $light-cherry;
  border-radius: 46px;
  line-height: 15px;
    .h1, .h2, .h3, .h4, .h5, .p, {
      color: $black;
    }
  }

.btn-default {
  font-size: 13px;
  color:#417B68;
  letter-spacing: 1px;
  line-height: 15px;
  border: 2px solid $light-mint;
  border-radius: 40px;
  background: transparent;
  transition: all 0.3s ease 0s;
}

.btn-default:hover {
  color: #417B68;
  background: $mint;
  border: 2px solid ;
}

.btn-messaging {
  font-size: 13px;
  color:#417B68;
  letter-spacing: 1px;
  line-height: 15px;
  border: 2px solid $light-mint;
  border-radius: 40px;
  background: transparent;
  transition: all 0.3s ease 0s;
}

.btn-messaging:hover {
  color: #417B68;
  background: $mint;
  border: 2px solid ;
}
