.mapboxgl-popup {
  max-width: 200px;
}

.mapboxgl-popup-content {
  text-align: center;
  font-family: $body-font;
  font-size: 10px;
}


.mapboxgl-popup-content a {
  text-align: center;
  font-family: $body-font;
  font-size: 10px;
  text-decoration: none;
  color: $black;
}
