.navbar-lewagon {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  padding: 8px 56px 24px;
  gap: 30px;
  position: sticky;
  bottom: 0px;
  height: 62px;
  background: #FF7A7A;
  ;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.fa-solid {
  color: #FFCDCD;
}

.fa-regular {
  color: #FFCDCD;
}

.navbar-icons {
  align-items: center;
  flex-direction: row;
  list-style-type: none;
  margin-bottom: 0;
  display: block;
  flex-grow: 1;
  font-size: 25px;
  .icon-item {
    display: inline-block;
    padding: 10px;
  }
}

.fa-regular:hover {
  color: #ffffff !important;
  font-size: 30px;
}


.icon-box {
  height: 100%;
  align-items: center;
}
