.wrapper-show{
  display: grid;
  margin: 10px;
}

.firstone {
  flex-grow: 1;
  width: 100%;
  text-align: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
  margin-top: 8px;
  margin-bottom: 8px;
}

.firstone .category {
  float: right;
  font-size: 13px;
}

.firstone .show-neighborhood-title {
  float: left;
  text-align: justify;
}

.show-neighborhood-date {
font-size: 13px;
}

.secondone {
  display: flex;
  margin-top: 8px;
}

.right-of-picture .show-neighborhood-content {
  text-align: justify;
  margin-bottom: 8px;
}

.bottom-of-content {
  flex-grow: 1;
  width: 100%;
  justify-content: center;
}

.bottom-of-content .show-neighborhood-duration {
  float: left;
}

.bottom-of-content .show-neighborhood-price {
  float: right;
}


.thirdone {
  display: flex;
  align-items: end;
  justify-content: flex-end;
}

.neighborhood-profilepic {
    border-radius: 50%;
    height: 50px;
    margin-right: 5px;
}

.avatar-line {
  justify-content: flex-start;
  font-size: 13px;
}

.show-neighborhood-edit {
  justify-content: flex-end;
  margin-left: auto;
}
