.col-lg-2 {
  width: fit-content;
  block-size: fit-content;
}

.col .show-p {
  text-align: justify;
  padding-left: 8px;
  padding-right: 8px;
  padding-top: 6px;
}

.col .show-header {
  font-size: calc(1rem + 0.9vw);
  text-align: left;
  padding-left: 8px;
  padding-right: 8px;
  padding-top: 6px;
}

.avatar-line{
  display:flex;
  align-items: flex-start;
  flex-wrap: nowrap;
  align-items: center;
  margin-top: 6px
}

.name {
  display: inline-block;
  flex: none;
  margin-left: 8px;
  text-align: left
}

.col .avatar{
  align-self: flex-start;
}

.show-image {
  border-radius: 50%;
  height: 50px;
  margin-left: 8px;
}

.show-button {
  padding-left: 8px;
  margin-bottom: 6px;
}
